/******************************************** TAG SELECTORS ********************************************/
p{
  font-size: xx-large;
  color:#931a25;
  font-weight: bold;
}

img{
  border-style: solid;
  border-width: 10px;
}

img:hover{
  border-color: gold;
  border-style: solid;
  border-width: 10px;
}

/******************************************** CLASS SELECTORS (Group) ********************************************/

.burger{
  background-color: red;
  border-color: #f1f3de;
}

.fries{
  background-color: yellow;
  border-color: #f1f3de;
}

.circular{
  border-radius: 100%;
}

.center {
  text-align: center;
}

.centerImg{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}


.mydiv{
  text-align: center;
}
/******************************************** ID SELECTORS (Singel element) ********************************************/

#header{
  font-size: 60px;
  color: #cd0a0a;
}
